<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<!--<suite name="Regression" >
    <test name="Demo" >
        <classes>
            <class name="tests.Runner" />
        </classes>
    </test>
</suite>-->

<suite name="Parallel Testing Suite">
    <test name="Parallel Tests" parallel="methods" thread-count="3">
        <classes>
            <class name="tests.Runner"/>
        </classes>
    </test>
</suite>




